<!DOCTYPE html>
<html>
<head>
    <title>运行 Python 脚本</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>运行 Python 脚本</h1>
    <form method="post">
        <label for="arg1">参数 1:</label>
        <input type="text" id="arg1" name="arg1"><br>
        <label for="arg2">参数 2:</label>
        <input type="text" id="arg2" name="arg2"><br>
        <label for="arg3">参数 3:</label>
        <input type="text" id="arg3" name="arg3"><br>
        <label for="arg4">参数 4:</label>
        <input type="text" id="arg4" name="arg4"><br>
        <label for="arg5">参数 5:</label>
        <input type="text" id="arg5" name="arg5"><br>
        <button type="submit">运行</button>
    </form>
    {% if output %}
    <pre>{{ output }}</pre>
    {% endif %}
</body>
</html>